* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
}

html, body {
    overflow-x: hidden;
    width: 100vw;
} 

/*HEADER*/
nav {    
    display: flex;
    justify-content: flex-end; 
    background-color: #1858A1;
    min-height: 8vh;
    align-items: center; 
}

nav ul {    
    display: flex;
    justify-content: space-around;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: #3391CF;
    text-decoration: none;
    font-size: 1rem;
}

    header nav ul {
        position: fixed;
/*        right: 0;*/
        height: 92vh; /* zorgt voor max screen size 100 vh */
        top: 8vh;
        background-color: #1858A1;
        display: flex;
        flex-direction: column;
        width: 100%;
        right: -100%;
        transition: right 0.3s ease-in;
    }

header nav ul a {
        margin-left: 3rem;
                
    }

.burger div{
    width: 1.5rem;
    height: .2rem;
    margin: .3rem;
    background-color: white;
    transition: all 0.3s ease;
}

.nav-active {
    right:0;
}

.toggle div:nth-child(1) {
    transform: rotate(45deg) translate(3px,8px);
}

.toggle div:nth-child(2) {
    opacity: 0;
}

.toggle div:nth-child(3) {
    transform: rotate(-45deg) translate(3px,-8px);
}

/*MAIN*/
main {
    margin: 1.5rem;
}

h3 {
    background-color: #1858A1;
    color: white;
    padding: 0.5rem;
    font-size: 16px;
}

article {
/*    margin: 1.5rem 0 1.5rem 0;*/
    padding: 0.9rem 0;
    display: flex;
    border-bottom: 1px solid #c2c2c2;
}

article > img {
    width: 4rem;
    padding-right: 1.5rem;
}

p {    
    color: #024F98;
    font-weight: bold;
    font-size: 13px;
}

main > div {
    overflow-x: auto;
    padding: 0.9rem 0;
}

/*TABEL*/

div > table{
    margin: auto;
    text-align: left;    
    font-size: 13px;
    white-space: nowrap;
    border-collapse: collapse;
    
}

tr:nth-child(odd){
    background-color: #FAFAFA;
}

tr:nth-child(even){
    background-color: #F1F1F1;
}

td:nth-child(2) {
    text-align: center;
}

td {
    padding: 0 10px;
}

th {
    background-color: #E7E6E6;
    padding: 5px 10px;
}

